.project-card {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.project-card-image {
  aspect-ratio: 16 / 9;
}

.project-card-body {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
