.page-projects {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-inline: var(--page-padding);
  padding-block: var(--space-xl) var(--space-3xl);
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}
